body {
  height: 100vh;
  background-color: #fff;
}

.containers {
  position: relative;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 0%;
  padding-right: 10px;
}

#image #plane {
  position: absolute;
  width: 400px;
  left: 40%;
  top: -5%;
}

#image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: url("https://img.freepik.com/free-vector/urban-city-background-video-conferencing_23-2148641633.jpg?size=626&ext=jpg&ga=GA1.2.777073396.1599399655");
}

#info {
  text-align: center;
}

.btns {
  padding: 10px 50px;
  font-size: 25px;
  font-weight: 600;
  background: #333;
  color: #fff;
  margin-bottom: 5%;
}

.btns:hover {
  background: #32a0e9;
}

.offer {
  font-size: 5rem;
}

#mobile-plane {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  #image #plane {
    width: 350px;
    left: 20%;
  }

  .offer {
    font-size: 3rem;
  }

  .btns {
    font-size: 20px;
  }

  #mobile-plane {
    display: none;
  }
}

@media (min-width: 431px) and (max-width: 767px) {
  #mobile-plane {
    display: none;
  }

  #image {
    display: none;
  }

  #info {
    border-radius: 10px;
    padding: 180px 0 10px;
    background: url("https://image.freepik.com/free-vector/modern-metropolis-night-cityscape-cartoon-vector_1441-2959.jpg")
      no-repeat center center/cover;
  }

  .containers {
    max-width: 100%;
    padding: 0;
    height: 580px;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
  }
}

@media (max-width: 431px) {
  .containers {
    max-width: 100%;
    padding: 0;
    height: 580px;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
  }

  #image {
    display: none;
  }

  .coupon {
    color: #fff;
  }

  #info {
    border-radius: 10px;
    padding: 180px 0 10px;
    background: url("https://image.freepik.com/free-vector/modern-metropolis-night-cityscape-cartoon-vector_1441-2959.jpg")
      no-repeat center center/cover;
  }

  .btns {
    background-color: #eee;
    color: #333;
  }

  .btns:hover {
    background-color: #7311cf;
    color: #fff;
  }

  #info #mobile-plane {
    display: block;
    z-index: 1;
  }

  #info #mobile-plane img {
    position: absolute;
    width: 300px;
    top: 10%;
    left: 10%;
  }
}

@media (max-width: 340px) {
  .offer {
    font-size: 2.9rem;
  }

  .containers {
    height: 500px;
  }

  #info #mobile-plane img {
    width: 200px;
  }
}
